:root {
  --link-color: #7dd3fc;
  --stroke-gradient: linear-gradient(90deg, rgba(0, 0, 0, 1) 17%, rgba(255, 255, 255, 1) 100%);
  --divider-gradient: linear-gradient(90deg, rgba(0, 0, 0, 1) 8%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 86%);
}

.profile {
  overflow: hidden;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.link {
  text-shadow: var(--text-shadow-neon);
}

.link:hover {
  border-bottom: 2px solid var(--link-color);
}

.gradient-stroke {
  background: var(--stroke-gradient);
}

.gradient-divider {
  background: var(--divider-gradient);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  @apply bg-neutral-800;
}

body::-webkit-scrollbar-thumb {
  @apply bg-neutral-700;
}

.pattern {
  --s: 75px; /* control the size */

  --_g: #fff0 90deg, rgb(27, 27, 27) 0;
  background: conic-gradient(from 90deg at 2px 2px, var(--_g)), conic-gradient(from 90deg at 1px 1px, var(--_g));
  background-size: var(--s) var(--s), calc(var(--s) / 5) calc(var(--s) / 5);
}
